<div class="container">
  <div class="row">
    <div class="col">
      <h1>Democratic Primary Polls Tracker</h1>
      <p class="about">Data from <a href="https://github.com/fivethirtyeight/data/tree/master/polls" target="_blank">FiveThirtyEight</a>. Source code on <a href="https://github.com/francisli/primarytracker" target="_blank">GitHub</a>. Feedback? <a href="https://github.com/francisli/primarytracker/issues">Create a new Issue.</a></p>
      <div class="header">
        <h2>National</h2>
        <div class="header__row">
          <div class="header__row__content">
            <div class="header__box">
              <div class="header__box__top">Convention</div>
              <div class="header__box__bottom">
                <div class="header__box__bottom__header">Jul</div>
                <div class="header__box__bottom__text">13 - 16</div>
              </div>
            </div>
            &nbsp;
            <div class="header__box header__box--delegates">
              <div class="header__box__top">Delegates</div>
              <div class="header__box__bottom">
                <div class="header__box__bottom__header">Pledged</div>
                <div class="header__box__bottom__text">3,768</div>
              </div>
              <div class="header__box__bottom">
                <div class="header__box__bottom__header">Super</div>
                <div class="header__box__bottom__text">764</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-polls></app-polls>
      <ng-container *ngFor="let state of states">
        <div [id]="state.state" class="header">
          <div class="header__row">
            <div class="header__row__content">
              <h2>
                {{state.state}}
                <span class="header__tabs" *ngIf="isPastPrimary(state) && state.showPolls">
                  <a (click)="state.showPolls=false" tabindex="0">Results</a>&nbsp;|&nbsp;<span class="header__tabs__selected">Polls</span>
                </span>
                <span class="header__tabs" *ngIf="isPastPrimary(state) && !state.showPolls">
                  <span class="header__tabs__selected">Results</span>&nbsp;|&nbsp;<a (click)="state.showPolls=true" tabindex="0">Polls</a>
                </span>
              </h2>
              <div class="header__box header__box--primary">
                <div class="header__box__top">{{state.primary_type}}</div>
                <div class="header__box__bottom">
                  <div class="header__box__bottom__header">{{state.primary_date|date:'MMM'}}</div>
                  <div class="header__box__bottom__text">{{state.primary_date|date:'d'}}</div>
                </div>
              </div>
              &nbsp;
              <div class="header__box header__box--delegates">
                <div class="header__box__top">Delegates</div>
                <div class="header__box__bottom">
                  <div class="header__box__bottom__header">Pledged</div>
                  <div class="header__box__bottom__text">{{state.pledged_delegates}}</div>
                </div>
                <div class="header__box__bottom">
                  <div class="header__box__bottom__header">Super</div>
                  <div class="header__box__bottom__text">{{state.automatic_delegates}}</div>
                </div>
              </div>
              <ng-container *ngIf="isPastPrimary(state) && state.delegates.length > 0">
                &nbsp;
                <div class="header__box header__box--results">
                  <div class="header__box__top">Results</div>
                  <div *ngFor="let result of state.delegates" class="header__box__bottom">
                    <div class="header__box__bottom__header">{{result.candidate}}</div>
                    <div class="header__box__bottom__text">{{result.count}}</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <app-polls [state]="state"></app-polls>
      </ng-container>
      <div class="navbar-light">
        <div class="navbar-menu">
          <button (click)="showMenu=!showMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="dropdown-menu" [class.d-block]="showMenu">
            <a (click)="onJump()" class="dropdown-item" href="#top">Top</a>
            <a *ngFor="let state of states" (click)="onJump()" class="dropdown-item" [href]="'#' + state.state.replace(' ', '%20')">{{state.state}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
