<div class="container">
  <div class="row">
    <div class="col">
      <h1>Democratic Primary Polls Tracker</h1>
      <p>Data from <a href="https://github.com/fivethirtyeight/data/tree/master/polls" target="_blank">FiveThirtyEight</a>. Source code on <a href="https://github.com/francisli/demprimarytracker" target="_blank">GitHub</a>. Feedback? <a href="https://github.com/francisli/demprimarytracker/issues">Create a new Issue.</a></p>
      <h2>National</h2>
      <app-polls></app-polls>
      <h2>Iowa</h2>
      <app-polls state="Iowa"></app-polls>
      <h2>New Hampshire</h2>
      <app-polls state="New Hampshire"></app-polls>
    </div>
  </div>
</div>
