table {
  width: auto;
}

th {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .75rem;
  position: relative;
  border-top: 0;
  padding-top: 12rem;
  padding-bottom: .25rem;
}

td {
  font-size: .75rem;
  line-height: .875rem;
}

pre {
  display: inline;
  margin: 0;
}

a {
  cursor: pointer;
}

.candidates {
  background: white;
  position: absolute;
  z-index: 100000;
}

td.sparkline {
  position: relative;
}

img.sparkline {
  position: absolute;
  top: .3rem;
  left: .75rem;
  width: 120px;
  height: 30px;
}

td.load-more {
  position: relative;
  vertical-align: middle;
}

a.load-more {
  display: block;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.poll {
  display: block;
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 100%;
  padding-bottom: .25rem;
  width: 400px;
  transform-origin: left bottom;
  transform: rotate(-35deg);
  white-space: nowrap;
  border-bottom: 1px solid #dee2e6;
}

.poll__date {
  margin-right: 1em;
}

.poll__pollster {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid green;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 80%;
  font-weight: bold;
}

.rating--none {
  width: 0;
  border-color: transparent;
}

.spacer {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spacer--candidate {
  width: 100px;
}

.spacer--sparkline {
  position: relative;
  width: 120px;
}

.spacer--poll {
  width: 60px;
  text-align: right;
}

.spacer--load-more {
  width: 20px;
}
